.status{
    background: rgba(55, 58, 71, 0.9);
    text-align: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin: 0 20%;
    border: 2px solid white;

}
.stat{
    text-align: center;
    color: rgb(249, 249, 249);
    
}