*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .icon-wrapper {
    background-color: #2c7bfe;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }
  .card:hover {
    background-position: 0 100%;
  }
  .card:hover .icon-wrapper {
    background-color: #ffffff;
    color: #2c7bfe;
  }
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }
  .images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
    padding: 30px;
}

.photo {
    background: url("../images/img6.jpg");
    max-width: 31.333%;
    padding: 0 10px;
    height: 240px;
}
* {
  box-sizing: border-box;
}
iframe {
  display: block;
  width: 200%;
  max-width: 80rem;
  height: 35em;
  margin: 2rem auto;
  border: 1px solid black;
}
.service-box{
  position: relative;
  overflow: hidden;
  margin-bottom:10px;
  perspective:1000px;
  -webkit-perspective:1000px;
}
.service-icon{
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
}

.service-content{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
  background-color: #474747;
  backface-visibility:hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content{
  position: relative;
  top:80px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
  font-size: 28px;
  color: #fff;
  font-weight: normal;
}

.service-box .service-icon .front-content h3 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.service-box .service-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom:10px;
  text-transform: uppercase;
}
.service-box .service-content p {
  font-size: 13px;
  color: #b1b1b1;
  margin:0;
}
.yellow{background-color: #ffc000;}
.orange{background-color: #fc7f0c;}
.red{background-color: #e84b3a;}
.grey{background-color: #474747;}
.service-box:hover .service-icon{
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
.txt{
  text-align: center;
}
.service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body {color:#444;font-size:16px;}
#some-box {background:#fff;padding:40px 0px 80px;font-family:'Open Sans', sans-serif;}
#some-box h1 {text-align:center;}
#some-box h3 {font-size:26px;}
#some-box a {color:#70BCB8;text-decoration:none;display:block;font-weight:bold;}
#some-box a:hover {color:#8E7BB2;}

article.row {width:100%;max-width:800px;margin:0 auto;padding:45px 0;}
article.row div {width:49.4%;display:inline-block;position:relative;border:1px solid white;}
article.row {border:1px solid white;}
article.row:hover {border:1px solid yellow;}
article.row div:hover {border:1px solid green;}
xpand to contain absolute positioned images 
#idea-one img, #idea-two img, #idea-three img {position:absolute;bottom:-20px;left:50px;}

@media(max-width:750px){

  article.row div {min-width:300px;width:90%;margin:0 5%;text-align:center;display:block;}
  

	#some-other-box h3 {text-align:center;}


	#idea-one img, #idea-two img, #idea-three img {position:relative;margin:auto;left:inherit;bottom:inherit;}

  #idea-two {display:-webkit-box;display:-moz-box;display:box;-webkit-box-orient:vertical;-moz-box-orient:vertical;box-orient:vertical;}

	#idea-two div:first-of-type {-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;box-ordinal-group:2;}
}



